doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="//unpkg.com/semantic-ui@2.4.2/dist/semantic.min.css")
        link(rel="stylesheet", href="/css/styles.css")
        script(src="//unpkg.com/jquery@3.1.1/dist/jquery.min.js")
        script(src="//unpkg.com/semantic-ui@2.4.2/dist/semantic.min.js")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        block scripts
        script.
            var check = function() {
            if (document.getElementById('password').value ==
                document.getElementById('password_confirm').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
            }
        

        title Hello Express Pug App!
    body

        .ui.inverted.menu
            a.item.active(href='/')
                i.home.icon
                | Home
            a.item(href='/Dashboard')
                i.file.icon
                | Data
            a.item(href='/chart')
                i.file.icon
                | Chart
            a.item(href='/login')
                i.file.icon
                | Signup
            a.item(href='/connect')
                i.file.icon
                | Login

        block content