extends layouts/frontend

block content
    .ui.middle
        div
            h1  #{furniture}
        div 
            h1 Catégorie : #{category}
        div
            h1 Matériau utilisé :  
            each val in material
                h1= val 
        div
            h1 Entreprise : #{company}
        div
            if (company == 'Bbois')
                img(src='/images/bois.jpg' width='800' height='800')
            if (company == 'Metalo')
                img(src='/images/metal.jpg' width='800' height='800')
            if (company == 'Pplastique')
                img(src='/images/plastique.jpg' width='800' height='800')  
            if (company =='Metalo,pPlastique')
                img(src='/images/plastique.jpg' width='800' height='800')
                img(src='/images/bois.jpg' width='800' height='800')

